@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Retro Video Game Store</h1>
    <p>An E-Comerce site powered by ASP.NET Core MVC as psrt of the comp2084 class 2026</p>
</div>
